.nav .nav-item .nav-link
{
    color: gray;
    font-size: 18px;
    text-transform: uppercase;
}
.nav .nav-item .active
{
    color: skyblue;
}
input[type=search]
{
    background-image: url('images/search-icon.png');
    background-repeat: no-repeat;
    background-position:98%; 
    background-size: 25px;   
}
input[type=search]::placeholder
{
    font-size: 20px;
    color: darkgray;
}
.breadcrumb .breadcrumb-item a
{
    color: black;
    font-size: 25px;
    text-decoration: none;
}
